.d-flex {
  display: flex;
}

.justify-start {
  justify-content: flex-start;
}

.justify-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}


.text-left {
  text-align: left;
}
